<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="vitrine" href="/tabs/vitrine">
      <ion-icon aria-hidden="true" name="storefront-outline"></ion-icon>
      <ion-label>Vitrine</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="carrinho" href="/tabs/carrinho">
      <ion-icon aria-hidden="true" name="cart-outline"></ion-icon>
      <ion-label>Carrinho</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="pedidos" href="/tabs/pedidos">
      <ion-icon aria-hidden="true" name="receipt-outline"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="conta" href="/tabs/conta">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Conta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>